    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        height: 100%;
        font-family: 'Arial', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #23a0a5;
        flex: 0 0 10%;
        height: 100%;
    }
    
    .header__title {
        color: #ffffff;
        font-size: 1.5em;
    }
    
    .header__nav {
        display: flex;
    }
    
    .header__nav-list {
        display: flex;
        list-style: none;
    }
    
    .header__nav-item {
        margin-left: 25px;
    }
    
    .header__nav-link {
        color: #ffffff;
        font-size: 1em;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .header__nav-link:hover {
        color: #1abc9c;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .section__content {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    
    .section-1 {
        background-image: url('img/image1.jpg');
    }
    
    .section-2 {
        background-image: url('img/image2.jpg');
    }
    
    .section-3 {
        background-image: url('img/image3.jpg');
    }
    
    .section__title {
        font-size: 1.5em;
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    .section__list {
        list-style: none;
        font-size: 0.7em;
        color: #ffffff;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    
    .section__button {
        font-size: 0.7em;
        padding: 20px 0;
        width: 10em;
        color: #ffffff;
        background-color: #1abc9c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.4s;
    }
    
    .section__button:hover {
        background-color: #16a085;
    }
    
    .section__button-2 {
        order: -1;
    }
    
    .section__button-3 {
        background-color: #f39c12;
        margin-top: 20px;
    }
    
    .section__button-3:hover {
        background-color: #e67e22;
    }
    
    .tour-cards {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        flex-wrap: wrap;
    }
    
    .tour-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(25% - 2rem);
        margin: 0 1rem;
        padding: 1rem;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #f0f2f5;
    }
    
    .tour-card__image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    
    .tour-card__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    
    .tour-card__description {
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        flex-grow: 1;
    }
    
    .tour-card__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .tour-card__button {
        font-size: 18px;
        padding: 20px 0;
        width: 182px;
        color: #ffffff;
        background-color: #1abc9c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.4s;
    }
    
    .tour-card__button:hover {
        background-color: #16a085;
    }
    
    .tour-card__button-buy {
        background-color: #1abc9c;
    }
    
    .tour-card__button-buy:hover {
        background-color: #16a085;
    }
    
    .tour-card__button-info {
        background-color: #34495e;
    }
    
    .tour-card__button-info:hover {
        background-color: #2c3e50;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #34495e;
        height: 60px;
    }
    
    .footer__text {
        color: #ffffff;
        font-size: 16px;
    }
    
    @media screen and (max-width: 890px) {
        .header__title {
            font-size: 1em;
        }
        .header__nav-item {
            margin-left: 10px;
        }
        .header__nav {
            font-size: 0.7em;
        }
        .tour-cards {
            padding: 0.5rem;
        }
        .tour-card {
            width: calc(50% - 1rem);
            margin: 0 0.5rem;
            padding: 0.5rem;
        }
        .tour-card__description {
            font-size: 0.7em;
            line-height: 1.2;
            margin-bottom: 0.5em;
        }
        .tour-card__button {
            font-size: 0.5em;
            padding: 10px;
            margin: 0 10px;
        }
    }
    
    @media screen and (max-width: 580px) {
        .header__title {
            font-size: 0.7em;
        }
        .header__nav {
            display: none;
        }
        .section {
            height: 30vh;
        }
        .section__content {
            gap: 20px;
            width: 100%;
            font-size: 0.5em;
        }
        .section__button {
            font-size: 1em;
            padding: 20px 0;
            width: 15%;
        }
        .tour-card {
            width: calc(100% - 0.5rem);
            margin: 0;
            padding: 0.5rem;
        }
        .tour-card__image {
            border-radius: 5px;
            margin-bottom: 0.3rem;
        }
        .tour-card__description {
            font-size: 0.3em;
            line-height: 1;
            margin-bottom: 0.3em;
        }
    }
    
    @media screen and (max-width: 470px) {
        .section__list {
            font-size: 0.5em;
        }
        .section__button {
            font-size: 0.6em;
            padding: 10px 0;
            /* width: 10%; */
            min-width: 10%;
        }
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    /* modal window */
    
    .modal-content {
        background-color: #f0f2f5;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #23a0a5;
        border-radius: 5px;
        width: 80%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #23a0a5;
        text-decoration: none;
    }